body {
    margin: 0;
    font-family: Arial;
    background: #fff7ee;
}

header {
    background: #ff5722;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
}

.hero {
    padding: 70px;
    text-align: center;
    background: #ffc3a0;
}

.hero .btn {
    padding: 10px 20px;
    background: #ff5722;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.items, .menu-grid {
    padding: 30px;
}

.food-list, .menu-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card, .item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    border: 2px solid #ff5722;
}

.card img, .item img {
    width: 100%;
    border-radius: 10px;
}

.form-box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    border-radius: 10px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
}

.cart-box {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}